{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <h1>Smart Gym</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </header>
        <div id="hero-section">
            <div>
                <h1>Welcome to our Gym membership</h1>
            <button>Get started</button>
            </div>
            
        </div>
        <div class="membership-container">
            <div class="membership-card">
                <img src="{% static 'img/portaitimg1.jpg' %}" alt="man exercising">
                <h1>Monthly</h1>
                <p class="price">£20.99</p>
                <p>Monthly fee contract free</p>
                <p><button>Subscribe</button></p>
               
            </div>
            <div class="membership-card">
                <img src="{% static 'img/portraitimg2.jpg' %}" alt="man exercising">
                <h1>Yearly</h1>
                <p class="price">£100.00</p>
                <p>Yearly fee contract free</p>
                <p><button>Subscribe</button></p>
           </div> 
        </div>
        
        
    </body>
</html>