{% extends 'members/base.html' %}
{% load static %}
{% block content %}


<section class="mealplans_container">
        <h1>MEAL PLAN PACKAGES</h1>
        <p>We are the uk's favourite gym,helping people lead healthier lives</p>

</section>

<section id="services_container">
        {%for plan in mealplans %}
                <div>
                        <h3>{{plan.name}}</h3>
                        <h6>{{plan.category}}</h6>
                        <img src={{plan.imageurl}} alt="{{plan.name}} image">
                        <ul>
                                <li>get one to one coaching</li>
                                <li>restraunt suggestions</li>
                        </ul>
                        <h3>£{{plan.price}}0</h3>
                        <a href="#">Subscribe</a>
        
                </div>
        {% endfor %}

</section>

{% endblock %}