{% extends 'members/base.html' %}
{% load static %}
{% block content %}


<section class="mealplans_container">
        <h1>MEAL PLAN PACKAGES</h1>
        <p>We are the uk's favourite gym,helping people lead healthier lives</p>

</section>

<section id="services_container">
        <div>
                <h3>16 week meal plan</h3>
                <h6>Nutrition</h6>
                <img src="{% static 'img/about-page-img.jpg' %}" alt="dumbells and trainers">
                <ul>
                        <li>get one to one coaching</li>
                        <li>restraunt suggestions</li>
                </ul>
                <h3>£20:00</h3>
                <a href="#">Subscribe</a>

        </div>

</section>

{% endblock %}