{% extends 'members/base.html' %}
{% load static %}
{% block content %}

        <div class="register">
                <section>
                    <form>
                        <div>
                            <label>Email</label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="password">
                        </div>
                        <div>
                            <label>Password</label>
                            <input type="password">
                        </div>
                        <button>Register</button>
                    </form>
                </section>
        </div>


{% endblock %}